@media (min-width: 60em) {
    header {
        line-height: 4rem;
        font-size: 1.5rem;
    }
    
    main {
        grid-template-columns: repeat(3, 1fr);
    }

    main article:nth-child(3) {
        grid-column: span 1;
    }

}