@media (min-width: 32.5em) {
   main {
       grid-template-columns: 1fr 1fr;
   } 

    main article:nth-child(2) {
        display: block;
    }

    main article:nth-child(3) {
        grid-column: span 2;
    }

    main article img {
        width: 100%;
        height: auto;
    }

}