* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #FDFFFC;
    color: #21295C; 
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
    /* padding: 2rem; */
    
} 

nav {
    grid-column: 3/6;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav ul {
    display: none;
    text-decoration: none;
    list-style-type: none;
    margin: 1.5rem 0;
    
}

nav ul.open {
    display: block;
    
}

nav ul li {
    margin-top: 1rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    
    font-weight: bold;
    font-style: italic;
    margin: 0.5rem;
    color: #21295C;
}

nav ul li a:hover {
    color: #74a2b8;
}


nav button {
    border: none;
    background-color: transparent;
    color: #21295C;
}

nav button:hover {
    color: #74a2b8;
}

p {
    line-height: 1.3rem;
}

/* main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
}    */

button {
    padding: 0.75rem;
    border-radius: 15px;
    background-color: #065a82;
    color: #FDFFFC;
    font-weight: bold;
}

#banner {
    /* display: none; */
    margin: 0 auto;
    border: 1px solid #21295C;
    background-color: #21295C;
    color: #FDFFFC;
    padding: 1rem;
    text-align: center;
    opacity: 70%;
}

#close {
    background-color: transparent;
    color: #FDFFFC;
    border: none;
    /* float: right; */
    opacity: 70%;
    margin-left: 8rem;
}

.heading {
   display: flex;
}



.logo {
    margin-right: 1rem;
    padding: 1.3rem;
}

.title {
    font-family: 'Water Brush', cursive;;
    font-size: 3rem;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1;
}

.title-sm {
    
    grid-column: 1/3;
    text-align: left;
}

.social {
    display: flex;
    grid-column: 5/6;
    margin-right: 3rem;
    
}
.responsive {
    display: block;
}

#hambtn {
    font-size: 2rem; 
    margin-right: 6rem;
}



.term {
   grid-column: 1/6; 
   text-align: center;
   background-color: #065a82;
   color: #FDFFFC;
   padding: 1.5rem 0;
}

img[data-src] {
    filter: blur(0.5rem);
}

img {
    filter: blur(0rem);
    transition: 2s;
}

.container img:hover {
    cursor: pointer;
    border: 5px solid #065a82;
}

.hero-img {
    max-width: 100%;
    box-shadow: 5px 4px 7px rgb(131, 131, 131);
}

section {
    padding: 1rem;
    margin: 0.3rem;
    color: #065a82;
    background-color: #dcdddb;
    line-height: 2.5rem;
    text-align: center;
    box-shadow: 5px 4px 7px rgb(131, 131, 131);
}

.join-btn {
    display: none;
}
article {
    padding: 0.5rem;
    margin: 0.8px;
    color: #065a82;
    background-color: #e9ebe8;
    line-height: 0.4rem;
    text-align: center;
    box-shadow: 5px 4px 7px rgb(131, 131, 131);
}

.arthead {
    line-height: 1.2rem;

}

.artimg {
    padding: 1rem;
    justify-self: center;
    max-width: 35%;
}

section p {
    margin-top: 1rem;
    text-align: left;
}

.artp {
    padding: 1rem;
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid #21295C;
}

.artinfo {
    font-size: 0.8rem;
}

.temp-icon {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-size: 2rem;
    margin-top: 2rem;
}

#windspeed,
#windchill {
    display: flex;
    gap: 1.5rem;
}
.spotlight {
    display: flex;
    
}

.spotlight-3 {
    display: none;
}
/* 
join form
*/

#joinapp {
    justify-content: center;
    margin: 0 auto;
    
}

.application {
    box-shadow: 6px 9px 12px #000;
    max-width: 25rem;
    margin: 2rem auto;
}

input {
    display: block;
    margin: auto;
    
}

form input.submit-btn {
    padding: 0.75rem;
    border-radius: 15px;
    background-color: #065a82;
    color: #FDFFFC;
    font-weight: bold;
    margin: 1rem auto;
    
    
}

fieldset legend {
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset label.top {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
}

#busTitleWarn {
    font-size: 0.7rem;
    line-height: 0.7rem;
    margin: 0.1rem auto 0.6rem auto;
    text-align: center;
}

fieldset label.sbs {
    display: block;
    text-align: center;
}

.sbs {
    line-height: 1.6rem;
}

/* Thank You Page */

.thankyou {
    padding: 10% 0;
}

.thanks {
    text-align: center;
}

/*
Table (Membership Tier Table)
 */

table {
    margin: 20px auto;
    /* border: thin solid #065a82; */
    box-shadow: 6px 9px 12px #000;
    border-collapse: collapse;
    padding: 3rem;
    background-color: #dcdddb;
    max-width: 40%;
}

thead {
    background-color: #21295C;
    color: #dcdddb;
    font-style: italic;
}

#table-head {
    font-size: 1.4rem;
    padding: 1.6rem;
    text-align: center;
}


#table-col-head, th {
    font-size: 1.2rem;
    padding: 0 1rem 1rem 1rem;
}

tbody tr td {
    padding: 1.4rem;
    /* border-bottom: thin solid #065a82; */
}

tr td:first-child {
    font-size: 1rem;
    font-weight: bold;
}


td:hover {
    background-color: #74a2b8;
    color: #dcdddb;
}

/* directory */

.gridbtns {
    grid-column: 2/3;
}

.gridbtns button{
    cursor: pointer;
    
    border-radius: 10px;
    padding: .75rem;
    margin: 1rem;
}

#business {
    grid-column: 1/4;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;
}

.cards {
    grid-column: 1/4;
    display: grid;
}

.cards .card {
    align-items: center;
    /* margin: 0.5rem; */
    padding: 1rem;
}

.cards .card img {
    max-width: 200px;
    box-shadow: 5px 10px;
}

.grids {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
}

.grids h1 {
    font-size: 1.5rem;
    text-align: center;
}

.grids p {
    text-align: center;
}

.grids section {
    background: linear-gradient(0.50turn, rgb(233, 233, 233), rgb(160, 160, 160));
    border: 5px double #065a82;
}

.grids .cards {
    display: flex;
    flex-direction: column;
}

.lists .card {
    padding: 1rem;
    margin: 0.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.lists h1 {
    font-size: 1.2rem;
}

.lists img {
    display: none;
}



.lists p {
    display: block;
} 

.lists section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(0.50turn, rgb(233, 233, 233), rgb(160, 160, 160));
    border: 5px double #065a82;
}


/* Error page */

#malfunction {
    font-size: 8rem;
    line-height: 2rem;
}

#errorExplain {
    margin: 4rem auto 2rem auto;
}

#errorp {
    margin-bottom: 3rem;
}

#errorbtn {
    margin-bottom: 5rem;
    
}

/* footer */

footer {
    background-color: #065a82;
    color: #FDFFFC;
    /* margin: 2rem; */
    padding: 1rem;
    line-height: 2rem;
    display: block;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}



.info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.fimg {
   /* margin-right: 20rem; */
   grid-column: 1;
   grid-row: 1;
   margin: 0;
   
   
}
.faddress {
    grid-column: 2/3;
    margin: auto 0;
    margin-left: 2rem;
}


.fEmail {
    grid-column: 4;
    margin: auto 5rem auto 0;
    margin-left: 2rem;
}


.classDetails {
    font-size: 0.7rem;
    grid-column: 1/6;
    justify-content: center;
    margin-top: 0;
    
}

#modified {
    font-size: 0.7rem;
}

