@media (min-width: 60rem) {
nav ul#primaryNav {
        display: flex;
    }

    .hero-img {
        grid-column: 2/3;
        grid-row: 1;
        max-width: 400px;
    }

    

    .events {
        grid-column: 1/2;
        grid-row: 1;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3;
    }

    .news {
        grid-column: 2/3;
    }

    .spotlight {
        grid-column: 3/4;
        grid-row: 1/4;
    }
}