@media (min-width: 60rem) {

    
    nav ul#primaryNav {
            display: flex;
        }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
    }


    .discoverMain {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
    }
    
    .hero-img {
        grid-column: 2/4;
        grid-row: 1;
        width: 98%;
        position: relative;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
    }

    .sec1 {
        grid-column: 2;
        grid-row: 1;
    }

    .events {
        grid-column: 1/2;
        grid-row: 1;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    

    .head {
        border-bottom: 2px solid #21295C;
        margin-top: 2rem;
    }

    .join{
        /* grid-column: 1/2;
        grid-row: 3/4; */
        display: none;
    }

    .join-btn {
        position: absolute;
        top: 30rem;
        left: 50rem;
        opacity: 90%;
        border: 3px solid #fdfffc;
    }

    .news {
        grid-column: 2/4;
    }

    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
        display: grid;
    }
    /* join page */

    .application {
        max-width: 50%;
        grid-column: 1;
        position: absolute;
        
    }

    table {
        max-width: 46%;
        float: right;
        display: block;
        grid-row: 1;
        position: relative;
        margin-top: 5px;
    }

    #join-footer {
    margin-top: 6rem;
}
}

