@media (min-width: 60rem) {

    
nav ul#primaryNav {
        display: flex;
    }

        main {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
        }

    .hero-img {
        grid-column: 2/4;
        grid-row: 1;
        width: 98%;
        position: relative;
        margin-left: 0.3rem;
        margin-top: 0.3rem;
    }

    .events {
        grid-column: 1;
        grid-row: 1;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .temp-icon {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        font-size: 2rem;
        margin-top: 2rem;
    }

    #windspeed, #windchill {
        display: flex;
        gap: 1.5rem;
    }

    

    .head {
        border-bottom: 2px solid #21295C;
        margin-top: 2rem;
    }

    .join {
        /* grid-column: 1/2;
        grid-row: 3/4; */
        display: none;
    }

    .join-btn {
        position: absolute;
        top: 30rem;
        left: 50rem;
        opacity: 90%;
        border: 3px solid #fdfffc;
    }

    .news {
        grid-column: 2/4;
    }

    .spotlight {
        grid-column: 4/5;
        grid-row: 1/4;
        display: grid;
    }
}