@media (min-width: 43rem) {
    nav ul#primaryNav {
        display: flex;
        margin-right: -11rem;
    }

    .responsive {
        display: grid;
        /* margin-bottom: 5rem; */
    }

    .social {
        margin-right: 8rem;
    }

    #hambtn {
        display: none;
    }

    .spotlight-3 {
        display: grid;
    }


    .application {
        box-shadow: 6px 9px 12px #000;
        max-width: 85%;
    }
    table {
        max-width: 85%
    }

    .list img {
        display: block;
    }

    
}