@media (min-width: 43rem) {
    nav ul#primaryNav {
        display: flex;
    }

    #hambtn {
        display: none;
    }

        .spotlight-3 {
            display: grid;
        }


    .application {
        box-shadow: 6px 9px 12px #000;
        width: 35rem;
    
    }

    .list img {
        display: block;
    }
}