@media (min-width: 37.5em) {

    .site-name {
        font-size: 3rem;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}