@media (min-width: 60rem) {

    #temple-grid {
            justify-content: center;
            display: flex;
            gap: 2rem;
            margin-bottom: 3rem;
        }
   
    
    .templeCards {
        max-width: 300px;
       
    }

    
}

