@media (min-width: 60rem) {

    .container {
        grid-column: 1/5;
        display: flex;
        margin: 1rem;
        justify-content: center;
        
    }

       .templeCards {
        max-width: 300px;
        
    }

    .card .row {
        grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
    }
    
    .card {
         padding: 20px;
    }
    
    .card h2 {
        font-size: 34px;
    }
    
    .card .row input[type="submit"] {
        width: 100%;
    }

    #container {
        margin: 20px auto;
        width: 95%;
    }

}

