@media (min-width: 60rem) {

    #temple-grid {
            justify-content: center;
            display: flex;
            margin-bottom: 1rem;
        }
   
    
    .templeCards {
        max-width: 300px;
        
    }

    
}

