* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gentium Book Plus', serif;
}

body {
    font-family: 'Gentium Book Plus', serif;
    background-color: #E5E6E4;
    
}

h1 {
    font-family: 'Lavishly Yours', cursive;
}

button {
    margin: 0 auto;
}

/* **************
     Header
****************/

header {
    background-color: #A6A2A2;
    max-width: 100%;
    /* padding-top: 1.7rem; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
    color: #847577;
}

.title {
    font-size: 2.4rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    grid-column: 2/3;
    /* background: linear-gradient(0.25turn, #847577, #A6A2A2, #F8EDEB, #A6A2A2, #847577, #847577, #A6A2A2, #F8EDEB, #A6A2A2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
   
}

#title-big, #title-small {
    font-family: 'Lavishly Yours', cursive;
    font-weight: 100;
    line-height: 1rem;
    color: #e0d4d2;
    text-shadow: 5px 2px 3px #847577;
    
}

#title-big {
    margin-left: 1rem;
    
   
}

.term {
    font-size: 1.3rem;
    text-align: center;
    background: linear-gradient(0.25turn, #847577, #A6A2A2, #F8EDEB, #A6A2A2, #847577);
    grid-column: 1/5;
}

.social {
    grid-column: 4/5;
    margin: auto 0;
    
}

.headerInfo {
    grid-column: 4/5;
    margin-top: -3rem;
    font-size: 1.2rem;
    
}

/* **************
    Navigation
****************/

.nav {
    grid-column: 1/5;
    margin: 0 auto;
    
}

#hambtn {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #847577;
    margin: 2rem 4rem 0 4rem;
}

nav ul {
    display: none;
    list-style-type: none;
    font-size: 1.4rem;
    text-align: center;
}

nav ul.open {
    display: block;
}

nav ul a {
    text-decoration: none;
    color: #847577;
    line-height: 2.4rem;

}


/* **************
      Main
****************/

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.band {
    background: linear-gradient(0.25turn, #847577, #A6A2A2, #F8EDEB, #A6A2A2, #847577);
    height: 1rem;

}


/* **************
      Footer
****************/

footer {
    background-color: #A6A2A2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
    margin: 0 auto;
}

footer ul a {
    text-decoration: none;
    color: #847577;

}

.foot1 {
    margin: 1rem 4rem;
    grid-column: 2;
    display: flex;
    line-height: 1.3rem;
}

.footerList {
    margin-right: 5rem;
}

footer ul {
    list-style-type: none;
}

.footAddress {
    grid-column: 4;
    grid-row: 1;
    line-height: 1.5rem;
    margin: 1rem 0;
    color: #584e50;
}

.socialFoot {
    grid-column: 4;
    grid-row: 2;
    
}

.address {
    grid-column: 3;
}

.assignment {
    grid-column: 1/5;
    grid-row: 3;
    text-align: center;
    color: #584e50;
}

