@media (min-width: 32.5em) {
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    main ul li {
        font-size: 1.3rem;
        
    }

    header {
        display: grid;
        grid-template-columns: 200px 1fr;
    }
}