* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

body {
    font-size: 16px;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

header {   
    margin: 1rem auto;
    padding: .5rem;
    background-color: rgb(199, 209, 221);
    align-items: center;
}

header img {
    border-radius: 5%;
}

header h1 {
    text-align: center;
}

main {
    margin-bottom: 2rem;
}

main h2 {
    text-align: center;
    margin: 30px;
    border-bottom: 2px solid rgb(16, 2, 49);
}

main ul li {
    font-size: 1rem;
    padding-left: 2rem;
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

footer {
    font-size: small;
    padding: 30px;
    line-height: 1.5rem;
    background-color: rgb(199, 209, 221);   
    text-align: center;
    
}

